models:
  - type: main
    engine: openai
    model: gpt-4o-mini

rails:
  input:
    flows:
      - self check input
      - mask sensitive data on input

  output:
    flows:
      - self check facts
      - self check hallucination
    streaming:
      enabled: True