# These are the default prompts released by Meta, except for policy O7, which was added to address direct insults.
prompts:
  - task: self_check_facts
    content: |-
      仮説が証拠に基づいており、証拠によって裏付けられているかどうかを判断するタスクが与えられています。証拠の内容のみを使用し、外部の知識に頼らないでください。はい/いいえで答えてください。
      "evidence": {{ evidence }}
      "hypothesis": {{ response }}
      "entails":

  - task: self_check_input
    content: |-
      あなたは、与えられた指示が、暴力、性的コンテンツ、犯罪、ヘイトスピーチなどの有害な内容を含んでいるかどうかを判断するAIです。以下の指示に、そのような有害な内容が含まれている場合は「yes」、含まれていない場合は「no」とだけ答えてください。

      指示: {{ user_input }}

      有害な内容を含んでいますか？: